<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./cow_stay_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,0}</string>
    <key>spriteSize</key>
    <string>{170,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{392,417},{170,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,0}</string>
    <key>spriteSize</key>
    <string>{188,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{194,556},{188,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{202,139},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{196,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,417},{196,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{192,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,556},{192,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{16,0}</string>
    <key>spriteSize</key>
    <string>{168,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{398,278},{168,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,0}</string>
    <key>spriteSize</key>
    <string>{178,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{384,556},{178,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{192,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{198,417},{192,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,0},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{198,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,278},{198,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,139},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{202,0},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stay_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{196,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{200,278},{196,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{568,695}</string>
   <key>textureFileName</key>
   <string>cow_stay_sheet.png</string>
  </dict>
 </dict>
</plist>
