<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./cow_stand_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,0}</string>
    <key>spriteSize</key>
    <string>{170,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{606,556},{170,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,0}</string>
    <key>spriteSize</key>
    <string>{188,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{606,278},{188,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{202,278},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{196,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{404,413},{196,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{192,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{604,0},{192,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{16,0}</string>
    <key>spriteSize</key>
    <string>{168,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{606,695},{168,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,0}</string>
    <key>spriteSize</key>
    <string>{178,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{606,417},{178,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{192,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{606,139},{192,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,139},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{198,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{404,0},{198,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{202,0},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{202,139},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{196,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,554},{196,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{404,276},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{200,131}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{202,693},{200,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,134}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{400,554},{200,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{202,417},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,417},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,134}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{198,554},{200,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{200,130}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{404,693},{200,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{200,133}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,693},{200,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,278},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,0},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{404,139},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{800,834}</string>
   <key>textureFileName</key>
   <string>cow_sprite_sheet.png</string>
  </dict>
 </dict>
</plist>
