<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./cow_run_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{202,139}</string>
    <key>spriteSourceSize</key>
    <string>{202,139}</string>
    <key>textureRect</key>
    <string>{{203,0},{202,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,136}</string>
    <key>spriteSourceSize</key>
    <string>{200,136}</string>
    <key>textureRect</key>
    <string>{{203,413},{200,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,134}</string>
    <key>spriteSourceSize</key>
    <string>{200,134}</string>
    <key>textureRect</key>
    <string>{{203,684},{200,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,133}</string>
    <key>spriteSourceSize</key>
    <string>{200,133}</string>
    <key>textureRect</key>
    <string>{{0,827},{200,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,132}</string>
    <key>spriteSourceSize</key>
    <string>{200,132}</string>
    <key>textureRect</key>
    <string>{{600,685},{200,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_14</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,135}</string>
    <key>textureRect</key>
    <string>{{403,413},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{203,142}</string>
    <key>spriteSourceSize</key>
    <string>{203,142}</string>
    <key>textureRect</key>
    <string>{{0,142},{203,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{203,142}</string>
    <key>spriteSourceSize</key>
    <string>{203,142}</string>
    <key>textureRect</key>
    <string>{{0,0},{203,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,133}</string>
    <key>spriteSourceSize</key>
    <string>{201,133}</string>
    <key>textureRect</key>
    <string>{{599,548},{201,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,132}</string>
    <key>spriteSourceSize</key>
    <string>{199,132}</string>
    <key>textureRect</key>
    <string>{{203,951},{199,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{195,132}</string>
    <key>spriteSourceSize</key>
    <string>{195,132}</string>
    <key>textureRect</key>
    <string>{{403,958},{195,132}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,137}</string>
    <key>spriteSourceSize</key>
    <string>{193,137}</string>
    <key>textureRect</key>
    <string>{{797,276},{193,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{193,135}</string>
    <key>spriteSourceSize</key>
    <string>{193,135}</string>
    <key>textureRect</key>
    <string>{{800,685},{193,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_run_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{197,136}</string>
    <key>spriteSourceSize</key>
    <string>{197,136}</string>
    <key>textureRect</key>
    <string>{{403,685},{197,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{15,0}</string>
    <key>spriteSize</key>
    <string>{170,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{600,948},{170,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,0}</string>
    <key>spriteSize</key>
    <string>{188,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{805,0},{188,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{203,276},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_12</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{196,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{403,548},{196,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_13</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{192,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{800,548},{192,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{16,0}</string>
    <key>spriteSize</key>
    <string>{168,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{800,820},{168,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{11,0}</string>
    <key>spriteSize</key>
    <string>{178,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{803,139},{178,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{192,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{403,821},{192,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{403,139},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{198,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{403,276},{198,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,421},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{405,0},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_stand_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{196,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{601,276},{196,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{203,549},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_10</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{200,131}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{600,817},{200,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_11</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,134}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,693},{200,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,558},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{605,0},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,134}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{603,413},{200,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{200,130}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,960},{200,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_6</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{200,133}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{203,818},{200,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_7</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{203,139},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_8</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,137}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{0,284},{200,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cow_walk_9</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,135}</string>
    <key>spriteSourceSize</key>
    <string>{200,137}</string>
    <key>textureRect</key>
    <string>{{603,139},{200,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{993,1090}</string>
   <key>textureFileName</key>
   <string>cow_sprite_sheet.png</string>
  </dict>
 </dict>
</plist>
