<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
            <string>bit_0</string>
            <string>bit_1</string>
            <string>bit_2</string>
            <string>bit_3</string>
            <string>bit_4</string>
            <string>bit_5</string>
            <string>bit_6</string>
            <string>bit_7</string>
            <string>bit_8</string>
            <string>bit_9</string>
            <string>bit_10</string>
            <string>bit_11</string>
            <string>bit_12</string>
            <string>bit_13</string>
            <string>bit_14</string>
            <string>bit_15</string>
            <string>bit_16</string>
            <string>bit_17</string>
            <string>bit_18</string>
            <string>bit_19</string>
            <string>bit_20</string>
            <string>bit_21</string>
            <string>bit_22</string>
            <string>bit_23</string>
            <string>bit_24</string>
            <string>bit_25</string>
            <string>bit_26</string>
            <string>bit_27</string>
            <string>bit_28</string>
            <string>bit_29</string>
            <string>bit_30</string>
            <string>bit_31</string>
        </array>
        <key>bodies</key>
        <dict>

            <key>cow_stay_1</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <true/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <false/>
                <key>linear_damping</key>
                <real>10</real>
                <key>velocity_limit</key>
                <real>100</real>
                <key>angular_damping</key>
                <real>10</real>
                <key>angular_velocity_limit</key>
                <real>10</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>4294967295</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 34.50000,17.00000 }</string>
                                <string>{ 21.00000,-17.00000 }</string>
                                <string>{ 21.00000,26.50000 }</string>
                                <string>{ 28.00000,34.50000 }</string>
                            </array>
                            <array>
                                <string>{ 21.00000,26.50000 }</string>
                                <string>{ 21.00000,-17.00000 }</string>
                                <string>{ 13.00000,-25.50000 }</string>
                                <string>{ 8.00000,25.50000 }</string>
                                <string>{ 13.00000,32.50000 }</string>
                            </array>
                            <array>
                                <string>{ -28.00000,-41.50000 }</string>
                                <string>{ -25.00000,-38.00000 }</string>
                                <string>{ -21.00000,-42.00000 }</string>
                            </array>
                            <array>
                                <string>{ -32.00000,-44.50000 }</string>
                                <string>{ -30.00000,-41.00000 }</string>
                                <string>{ -26.00000,-45.00000 }</string>
                            </array>
                            <array>
                                <string>{ 12.00000,-42.00000 }</string>
                                <string>{ 13.00000,-38.00000 }</string>
                                <string>{ 17.00000,-43.00000 }</string>
                            </array>
                            <array>
                                <string>{ 34.50000,17.00000 }</string>
                                <string>{ 31.00000,26.50000 }</string>
                                <string>{ 45.50000,28.00000 }</string>
                            </array>
                            <array>
                                <string>{ 6.00000,-46.50000 }</string>
                                <string>{ 7.00000,-44.00000 }</string>
                                <string>{ 12.00000,-46.00000 }</string>
                            </array>
                            <array>
                                <string>{ 21.00000,-17.00000 }</string>
                                <string>{ 34.50000,17.00000 }</string>
                                <string>{ 50.00000,1.00000 }</string>
                                <string>{ 48.00000,-11.00000 }</string>
                            </array>
                            <array>
                                <string>{ -35.50000,34.00000 }</string>
                                <string>{ -40.50000,30.00000 }</string>
                                <string>{ -50.50000,47.00000 }</string>
                            </array>
                            <array>
                                <string>{ -36.50000,19.00000 }</string>
                                <string>{ -43.50000,0.00000 }</string>
                                <string>{ -40.50000,30.00000 }</string>
                                <string>{ -35.50000,34.00000 }</string>
                            </array>
                            <array>
                                <string>{ -24.50000,-32.00000 }</string>
                                <string>{ -28.50000,-26.00000 }</string>
                                <string>{ -43.50000,0.00000 }</string>
                                <string>{ -3.00000,27.50000 }</string>
                                <string>{ -2.00000,27.50000 }</string>
                                <string>{ -2.00000,-25.50000 }</string>
                                <string>{ -15.00000,-34.50000 }</string>
                            </array>
                            <array>
                                <string>{ -28.00000,-41.50000 }</string>
                                <string>{ -28.50000,-26.00000 }</string>
                                <string>{ -24.50000,-32.00000 }</string>
                                <string>{ -25.00000,-38.00000 }</string>
                            </array>
                            <array>
                                <string>{ -3.00000,27.50000 }</string>
                                <string>{ -43.50000,0.00000 }</string>
                                <string>{ -36.50000,19.00000 }</string>
                            </array>
                            <array>
                                <string>{ 13.00000,-25.50000 }</string>
                                <string>{ -2.00000,-25.50000 }</string>
                                <string>{ -2.00000,27.50000 }</string>
                                <string>{ 8.00000,25.50000 }</string>
                            </array>
                            <array>
                                <string>{ 6.00000,-25.50000 }</string>
                                <string>{ 13.00000,-25.50000 }</string>
                                <string>{ 13.00000,-38.00000 }</string>
                                <string>{ 12.00000,-42.00000 }</string>
                            </array>
                            <array>
                                <string>{ -2.00000,-25.50000 }</string>
                                <string>{ 6.00000,-25.50000 }</string>
                                <string>{ 7.00000,-44.00000 }</string>
                                <string>{ 6.00000,-46.50000 }</string>
                            </array>
                            <array>
                                <string>{ -32.00000,-44.50000 }</string>
                                <string>{ -43.50000,0.00000 }</string>
                                <string>{ -28.50000,-26.00000 }</string>
                                <string>{ -30.00000,-41.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>ground</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50800,0.50900 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <false/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>0</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>0</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>500</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 31.50000,27.50000 }</string>
                                <string>{ 31.50000,-27.50000 }</string>
                                <string>{ -31.50000,-27.50000 }</string>
                                <string>{ -31.50000,27.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




